.navbar{
    opacity: .8;
}

.list-navbar{
	margin-left:20%;
}

.musica{
	color: #fff;
	font-size: 22px;
	margin-left: .2em;
}

.carrito{
	font-size:28px;
	color: #fff;
	text-decoration: none;
	margin-right: .5em;
}

.buttons-options{
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:768px){
		.list-navbar{
		margin-left:0%;
		justify-content: center;
	}
}