<div class="navbar navbar-expand bg-dark">
	<div class="navar-brand">
		<h3 class="text-light">Instrumentos <small>musicales</small><i class="fa fa-music musica"></i></h3>
	</div>
	<button class="navbar-toggler" data-toggle="collapse"data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse list-navbar" id="myNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a href="" class="nav-link text-light">Inicio</a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link text-light">Nuestros productos</a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link text-light">Quienes somos</a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link text-light">Accede</a>
			</li>
		</ul>
	</div>
	<div class="buttons-options">
		<a class="cart">
			<span class="fa fa-cart-plus carrito"></span>
		</a>
		<button class="btn btn-outline-light">Login</button>
	</div>
</div>